node_modules/
.env*
efs
build
build.zip
src/db
TRUNCATEDB.txt
*.log
*.log.*
terraform/.terraform*
*.tfstate*
video-sdk/xelp.json
xelp-test-js
video-sdk-test/*
video-sdk-test
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
tmp/*